@infotecs:registry=http://msk-octopus-01:81/npm/Npm/
@mngmob:registry=http://artifactory.infotecs.ru/artifactory/api/npm/npm-tdc-local/
registry=http://artifactory.infotecs.ru/artifactory/api/npm/npm-registry/
PUPPETEER_SKIP_CHROMIUM_DOWNLOAD=true
