<div class="table">
  <div class="tr th">
    <div class="td">
      ID
    </div>
    <div class="td"
      style="flex-grow: 2;">
      Пользователь
    </div>
    <div class="td">
      ОС
    </div>
    <div class="td">
      Версия клиента
    </div>    
    <div class="td">
      Создан
    </div>
  </div>
  <div class="tr" *ngFor='let statistics of statisticsItems;'>
    <div class="td">
      <span>{{statistics.id}}</span>
    </div>
    <div class="td"
      style="justify-content: center; flex-grow: 2;">
      <span>{{statistics.userName}}</span>
    </div>    
    <div class="td">
      <span>{{statistics.osName}}</span>
    </div>
    <div class="td">
      <span>{{statistics.clientVersion}}</span>
    </div>
    <div class="td">
      <span>{{getDisplayDate(statistics.createdAt)}}</span>
    </div>
  </div>
<router-outlet></router-outlet>
