<div class="main-container">
    <div class="left-container">
        <div>
          <input (change)="autoUpdateChanged($event)" type="checkbox" id="auto-update-toggle">
          <label for="auto-update-toggle"> Авто-обновление</label>
        </div>
        <div class="table">
            <div class="tr th">
                <div class="td grow-column">
                    ID
                </div>
                <div class="td">
                    Пользователь
                </div>
                <div class="td">
                    ОС
                </div>
                <div class="td">
                    Версия клиента
                </div>
                <div class="td">
                    Создан
                </div>
            </div>
            <div class="tr" *ngFor='let statistics of statisticsItems; trackBy: trackByFn'>            
                <div class="td grow-column">
                    <span>
                        <a [routerLink]="[statistics.id]">{{statistics.id}}</a>
                    </span>
                </div>
                <div class="td">
                    <span>{{statistics.userName}}</span>
                </div>
                <div class="td">
                    <span>{{statistics.osName}}</span>
                </div>
                <div class="td">
                    <span>{{statistics.clientVersion}}</span>
                </div>
                <div class="td">
                    <span>{{getDisplayDate(statistics.createdAt)}}</span>
                </div>
            </div>
        </div>

    </div>
    <div class="right-container">
        <router-outlet></router-outlet>
    </div>
</div>
